body {
  margin: 16px;
  line-height: 1.5;
  color: #2a2a2a;
  background-color: #f5f5f5;
}

img {
  display: block;
  max-width: 100%;
}

.blur-up {
  filter: blur(5px);
  transition: filter 400ms;
}

.blur-up.lazyloaded {
  filter: blur(0);
}
